<!-- /Product list --> 
<div class="new_arrivals_agile_w3ls_info"> 
	<div class="container">
		    <h3 class="wthree_text_info">What do <span>You need today?</span></h3>	

            <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/banners"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/banners"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/banners" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/banners">Banners</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/banners"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>	

            <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/bizcard"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/bizcard"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/bizcard" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/bizcard">Business Cards</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/bizcard"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>	  

            <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/greetingcards"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/greetingcards"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/greetingcards" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/greetingcards">Greeting Cards</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/greetingcards"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>

             <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/flyersandbills"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/flyersandbills"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/flyersandbills" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/flyersandbills">Flyers/Handbills</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/flyersandbills"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>

             <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/envelopes"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/envelopes"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/envelopes" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/envelopes">Branded Envelopes</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/envelopes"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>	 

             <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/paperbags"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/paperbags"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/paperbags" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/paperbags">Paper Bags</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/paperbags"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>	

            <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/letterhead"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/letterhead"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/letterhead" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/letterhead">Letter Head</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/letterhead"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>	

            <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/stickers"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/stickers"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/stickers" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/stickers">Stickers</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/stickers"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>	  

            <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/weddingcards"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/weddingcards"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/weddingcards" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/weddingcards">Wedding Cards/Gifts</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/weddingcards"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>

             <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/notepads"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/notepads"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/notepads" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/notepads">Branded Notepads</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/notepads"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>

             <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/envelopes"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/envelopes"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/envelopes" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/envelopes">Branded Envelopes</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/envelopes"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>	 

             <div class="col-md-4 product-men">
                <div class="men-pro-item simpleCart_shelfItem">
                    <div class="men-thumb-item">
                        <a href="/single/paperbags"></a><img src="images/m1.jpg" alt="" class="pro-image-front"> </a>
                        <a href="/single/paperbags"></a><img src="images/m1.jpg" alt="" class="pro-image-back"> </a>
                        <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a href="/single/paperbags" class="link-product-add-cart">See types</a>
                                </div>
                        </div>                                                                             
                    </div>
                    <div class="item-info-product ">
                        <h4><a href="/single/paperbags">Paper Bags</a></h4>
                        <div class="info-product-price">
                            <span class="item_price">$3,299</span>
                            <del>$4,299</del>
                        </div>
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                            <a href="/single/paperbags"><input type="submit" name="submit" value="Order this item" class="button" /></a>
                        </div>
                                                            
                    </div>
                </div>
			</div>	 	 	     	
	</div>
</div>



<!-- /All product list--> 